* {
  font-family: 'American Typewriter', serif;
  text-align: center;
}

body {
  background-image: url("images/wedding_stamp.jpeg");
  background-size: 100% auto;
  background-attachment: fixed;
  height: 500em;
}
html {
  overscroll-behavior:none;
}

header {
  padding-top: 4em;
  position: fixed;
  padding-top: 0;
  width: 100%;
  height: 10%;
}

footer {
  position: fixed;
  bottom: 0em;
  width: 100%;
  z-index: -5;
}

.letter {
  display: inline-block;
}

.front {
  backface-visibility: hidden;
  transform: translate(-50%, -50%);
}

.back {
  transform: translate(-50%, -50%) rotateX(180deg);
  backface-visibility: hidden;
}

.card {
  position: fixed;
  background-color: rgb(255,255,255);
  width: 80%; 
  top: 55%;
  left: 10%;
  height: 38%;
  transform: perspective(20cm);
  transition: transform;
  transform-origin: top;
  transform-style: preserve-3d;
}

.bottom {
  position: absolute;
  margin: auto;
  width: 90%;
  top: 50%;
  left: 50%;
}

.top {
  position: absolute;
  margin: auto;
  width:90%;

  top: 50%;
  left: 50%;
}
